<header>TO DO LIST</header>
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value);newTodo.value=''">Add</button>
<table>
  <tr>
    <th>label</th>
    <th>priority</th>
    <th>done</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{todo.label}}</td>
    <td>{{todo.priority}}</td>
    <td>{{todo.done}}</td>
    <td>
      <button (click)="deleteTodo(todo)">delete</button>
    </td>
    <td>
      <button (click)="toggle(todo)">done</button>
    </td>
  </tr>
</table>



<router-outlet></router-outlet>
